.button {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  cursor: pointer;

  padding: 16px 47px;
  text-decoration: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button__forms {
  margin-bottom: 39px;
}


@media (min-width: @tablet) {
  .button--tablet {
    white-space: nowrap;
    padding: 18px 130px;
    width: 458px;
  }

  .button__forms--tablet {
    width: 324px;
  }
  .button--search-hotel{
    padding: 15px 136px;
  }
}


@media (min-width: @desktop) {
  .button__forms--desktop {
    width: 480px;
  }
}
