.main-list {
  background-color: #81b3d2;
}

.list {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list__item {
  position: relative;
  background-color: #cfd6d9;
  margin: 0;
  padding: 14px 35px;
  list-style: none;
}

.list__img {
  width: 100%;
  background-color: #ffffff;

  &--second {
    background-color: #cfd6d9;
  }
}


.list__item--large {
  padding: 0;
  background-color: #81b3d2;
  color: #ffffff;
}

.list__item--second {
  background-color: #ffffff;
  padding: 33px 40px 8px 70px;
  box-sizing: border-box;
}

.list__item--help-middle {
  padding-top: 19px;
  padding-bottom: 1px;
}

.list__item--help-last {
  padding-top: 20px;
  padding-bottom: 20px;
}

.list__icon {
  position: absolute;
  left: 22px;
  top: 22px;
}

.list__item--help-middle .list__icon {
  top: -4px;
}

.list__item--help-last .list__icon {
  top: 6px;
}

.list__wrap {
  margin-bottom: 25px;
  padding: 48px 25px 1px 25px;
}

.list__wrap--second {
  padding-top: 30px;
}

.list__title {
  font-size: @font-large;
  text-align: center;
}

.list__title--second {
  text-align: left;
  margin: 0;
}


.list__number {
  margin: 0 auto;
  display: table;
  /*margin-left: 40%;*/
}

.list__text {
  font-size: @font-middle;
  line-height: @line-small;
  text-align: center;
}

.list__text--second {
  text-align: left;
}

.list__item--small {
  border-bottom: 1px solid #6c7a86;
}

@media (min-width: @tablet) {
  .list {
    display: flex;
    flex-wrap: wrap;
  }

  .list__item {
    width: 100%;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4) {
      order: -1;
    }
  }

  .list__title {
    font-size: 21px;
    line-height: 26px;
    margin-top: 6px;
    margin-bottom: 13px;
    text-align: center;
  }

  .list__text {
    margin-top: 23px;
    text-align: center;
  }

  .list__title--second {
    text-align: center;
    margin-top: 28px;
    margin-bottom: 23px;
  }

  .list__title--small {
    padding: 0 10px;
    margin-bottom: 7px;
  }

  .list__text--second {
    text-align: center;
    margin: 0;
  }

  .list__item--large {
    display: flex;
    width: 100%;
    height: 256px;
  }

  .list__item--reverse {
    flex-direction: row-reverse;
  }


  .list__item--small {
    padding: 40px 40px 30px;
    width: 33.333333%;
    box-sizing: border-box;

    .list__title {
      padding: 0 10px;
    }

    .list__text {
      margin-top: 18px;
    }
  }

  .list__wrap {
    padding: 40px 42px;
    margin: 0;
    width: 33.333333%;
  }

  .list__img {
    flex-grow: 1;

    img {
      width: 100%;
    }
  }

  .list__item--second {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    width: 33.333333%;
    box-sizing: border-box;
    padding: 55px 40px 62px 50px;

    text-align: center;
  }

  .list__icon {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
  }
}

@media (min-width: @desktop) {
  .list__wrap {
    padding: 47px 60px 60px 70px;

    .list__title {
      // width: 100px;
      padding: 0 30px 0 22px;

      &--small {
        padding: 0 55px 0 22px;
      }
    }

    .list__text {
      margin-top: 22px;
    }
  }

  .list__item--second {
    padding: 55px 40px 80px 50px;
    justify-content: space-between;
  }

  .list__text--second {
    width: 300px;
  }

  .list__item--reverse .list__text {
    padding: 0 25px;
  }

  .list__item--small {
    padding: 37px 58px 48px 71px;

    .list__title {
      line-height: 26px;
      display: block;
      text-align: center;
      width: 158px;
      margin-left: 50px;
    }
  }
}
