img.triagle {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
  }

img.triagle {
    z-index: 20;
    bottom: -1px;
  }


@media (min-width: @tablet) {
  img.triagle {
      width: 768px;
      height: 57px;
      margin: 0;
      bottom: -4px;
    }

  img.triagle {
      bottom: 0;
    }
}


@media (min-width: @desktop) {
  img.triagle {
      width: 1200px;
    }
}
