.about {
  position: relative;
  background-color: #ffffff;
  margin: 0;
  padding: 40px 25px 10px 25px;
}

.about__title {
  color: #000000;
  text-transform: uppercase;
  font-size: @font-large;
  line-height: @line-middle;
  text-align: center;
  margin-bottom: 35px;
}

.about__text {
  color: #333333;
  text-transform: uppercase;
  font-size: @font-middle;
  line-height: @line-middle;
  text-align: center;
}

.triagle-two {
  position: absolute;
  bottom: -20px;
  left: 0;
  padding: 0;
}

.about__gallery {
  border-bottom: 1px solid #cfd6d9;
}

@media (min-width: @tablet) {
  .triagle-two {
    display: none;
  }
}


@media (min-width: @desktop) {
  .about {
    padding: 50px 355px 55px 355px;
  }

  .about__title {
    font-size: 21px;
  }
}
