.about {
  background-color: #fff;
  margin: 0;
  padding: 40px 25px 30px 25px;

}

@line-large: 40px;
@line-middle: 26px;
@line-small: 21px;

@font-middle: 14px;

.about__title {
  color: #000;
  text-transform: uppercase;
  font-size: @font-large;
  line-height: @line-middle;
  text-align: center;
  margin-bottom: 35px;
}

.about__text {
  color: #333;
  text-transform: uppercase;
  font-size: @font-middle;
  line-height: @line-middle;
  text-align: center;
  margin-bottom: 35px;
}
