.footer {
  background-color: #ffffff;
}

.footer__list {
  margin: 0;
  padding: 0;
}

.item__tag {
  font-size: @font-large;
  font-weight: bold;
  line-height: @line-middle;
  padding-left: 90px;
  padding-bottom: 40px;
  margin: 0;
}

.footer__item {
  list-style: none;
}
