.footer {
  padding: 0;
  background-color: #ffffff;
}

.footer__list {
  display: flex;
  margin: 35px 0 40px 80px;
  padding: 0;
}

.item__tag {
  font-size: @font-large;
  font-weight: bold;
  line-height: @line-middle;
  padding-top: 30px;
  padding-left: 90px;
  margin: 0;
}

.footer__item {
  list-style: none;
  margin: 0;

  a {
    padding: 20px;
    background-color: #81b3d2;
  }
}

.footer__item--last {
  position: relative;
  margin-left: 96px;
  padding-bottom: 25px;

  p {
    font-size: 14px;
  }

  img {
    position: absolute;
    top: 0;
    left: 100px;
  }
}

@media (min-width: @tablet) {
  .footer__wrap {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    width: 30%;
  }
}
