.forms-container {
  background-color: #ffffff;
}

.forms__box {
  border: none;
  border-bottom: 1px solid #333333;
  padding: 25px 20px;

  textarea {
    margin-bottom: 50px;
  }
}

.forms__box:last-child {
  border-bottom: none;
}


.forms__list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;

  input {
    width: 240px;
    height: 58px;
    border: none;
    background-color: #f2f2f2;
    padding: 0 20px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
  }
}

.forms__item {
  margin-bottom: 20px;

  &--stretch {
    display: flex;

    input {
      width: 150px;
      flex-grow: 1;
    }
  }

  &--bigspace {
    margin-bottom: 50px;
  }
}

.forms__title {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  margin: 0 0 25px 0;
}

.forms__text {
  font-size: 14px;
  color: #333333;
  margin-right: 15px;

  &--first {
    margin-top: 20px;
  }

  &--block {
    display: block;
    margin-bottom: 15px;
  }
}

.forms__text--bold {
  position: relative;
  display: block;
  padding-left: 78px;
  padding-top: 10px;
  text-transform: none;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
}

input[type="checkbox"]:checked + label::after {
  position: absolute;
  top: 7px;
  left: 12px;
  width: 24px;
  height: 16px;
  background-image: url(../img/icon-tick.svg);
  background-size: 24px 16px;
  background-repeat: no-repeat;
}


.forms__text--radio::before {
    border-radius: 50%;
  }







.forms__area {
  padding: 20px 20px;
  width: 235px;
  height: 120px;
  resize: none;
  background-color: #f2f2f2;
}

.forms__button {
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  padding: 20px 47px;
  text-transform: uppercase;
}
