.forms-container {
  background-color: #ffffff;
}

.forms__box {
  border: none;
  border-bottom: 1px solid #333333;
  padding: 25px 20px;

  textarea {
    margin-bottom: 50px;
  }
}

.forms__box:last-child {
  border-bottom: none;
}


.forms__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;

  input {
    width: 240px;
    height: 58px;
    border: none;
    background-color: #f2f2f2;
    padding: 0 20px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
  }
}

.forms__item {
  position: relative;
  margin-bottom: 20px;

  &--stretch {
    display: flex;

    input {
      width: 150px;
      flex-grow: 1;
    }
  }

  &--bigspace {
    margin-bottom: 50px;
  }

  &--contact::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 20px 20px;
  }

  &--mail::before {
    background-image: url("../img/icon-mail.svg");
  }
}

input::placeholder {
  color: #000000;
}

textarea::placeholder {
  color: #000000;
  font-weight: bold;
}

.forms__title {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  margin: 0 0 25px 0;
}

.forms__text {
  font-size: 14px;
  color: #333333;
  margin-right: 15px;

  &--first {
    margin-top: 20px;
  }

  &--block {
    display: block;
    margin-bottom: 15px;
  }
}

.forms__text--bold {
  position: relative;
  display: block;
  padding-left: 78px;
  padding-top: 10px;
  text-transform: none;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
}

.forms__text--radio::before {
  border-radius: 50%;
}

.forms__checkbox:checked + .forms__text--bold::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 12px;
  width: 24px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-size: 24px 16px;
  background-repeat: no-repeat;
}

.forms__radio:checked + .forms__text--bold::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 12px;
  width: 16px;
  height: 16px;
  border: solid 2px #333333;
  border-radius: 50%;
  background-color: #333333;
}

.forms__area {
  padding: 20px 20px;
  width: 235px;
  height: 120px;
  resize: none;
  background-color: #f2f2f2;
  border: none;
}

.forms__button {
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  padding: 20px 47px;
  text-transform: uppercase;
}

.forms__note-field {
  display: none;
}

.forms__text--two{
  display: none;
}


@media (min-width: @tablet) {
  .feedback {
    border: none;
    padding: 70px 160px;

    h2 {
      font-size: 30px;
      margin: 0;
    }
  }

  .forms-container {
    padding: 0 60px;
  }

  .forms {
    display: flex;
    flex-wrap: wrap;
  }

  .forms__box {
    padding: 0;
    width: 40%;
    border: none;

    h2 {
      font-size: 21px;
    }
  }

  .forms__box:nth-child(2) {
    width: 100%;
    margin: 50px 0;
  }

  .forms__box:nth-child(3) {
    order: -1;
    width: 50%;
    margin-right: 50px;
  }

  .forms__box:nth-child(4) {
    width: 100%;
  }

  .forms__box:last-child {
    width: 100%;
  }

  .forms__list input {
    width: auto;
    min-width: 0;
    flex-grow: 1;
  }

  .forms__item {
    display: flex;
    flex-direction: column;
  }

  .forms__item--stretch {
    flex-direction: row;
  }

  .forms__list--tablet {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }

  .forms__list--tablet .forms__item--bigspace:first-child {
    margin-right: 10%;
  }

  .forms__list--tablet .forms__item--bigspace:nth-child(3) {
    margin-right: 14%;
  }

  .forms__area {
    width: 94%;
  }

  .forms__note-field {
    display: inline-block;
    font-size: 14px;
    margin-left: 180px;
  }
}

@media (min-width: @desktop) {
  .forms-container {
    padding: 0 120px;
  }

  .forms__box:first-child {
    h2 {
      text-align: left;
      margin-bottom: 60px;
    }
  }

  .forms__box:nth-child(3) {
    h2 {
      margin-bottom: 60px;
    }

    .forms__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .forms__item--bigspace {
    margin-bottom: 60px;
  }

  .forms__list--tablet .forms__item--bigspace:first-child,
  .forms__list--tablet .forms__item--bigspace:nth-child(3) {
    margin: 0;
  }

  .forms__list--tablet {
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 90%;
    margin-top: 50px;
  }

  .forms__text--bold {
    // font-size: 16px;
    line-height: 26px;
    padding: 0 0 0 65px;
  }

  .forms__list--contact {
    display: flex;
  }

  .forms__list input {
    width: 285px;
  }

  .forms__item--contact{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
  }

  .forms__text--one {
    display: none;
  }

  .forms__text--two {
    display: block;
  }
}
