.gallery-list {
  background-color: #fff;
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;

  .gallery-list__item {
    list-style: none;
    padding-bottom: 45px;
  }
}



.gallery-list__title {
  font-size: @font-middle;
  line-height: 24px;
  margin: 20px 0 0 0;
}

.gallery-list__name {
  font-size: @font-middle;
  line-height: 24px;
  margin: 0 0 18px 0;
}


.gallery-list__likes {
  margin-left: 57px;
  // background-image: url(../img/icon-like.svg);
  // background-repeat: no-repeat;
  // background-size: 23px 21px;
  // background-position: -20px -10px;
}
