@tablet: 768px;
@desktop: 1200px;

.visually-hidden {
  display: none;
}

body {
  min-width: 320px;

  background: #ffd1fc;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 320px;
  padding: 0 20px;
}

@media (min-width: @tablet) {
  .container {
    width: 700px;
    padding: 0 30px;
  }
}


@media (min-width: @desktop) {
  .container {
    width: 1060px;
    padding: 0 70px;
  }
}
