.main-list {
  background-color: #81b3d2;
}

.list {
  margin: 0;
  padding: 0;
}

.list__item {
  background-color: #cfd6d9;
  margin: 0;
  padding: 33px 40px;
  list-style: none;
}

.list__img {
  width: 100%;
}

.list__wrap {
  margin-bottom: 30px;
}

.list__item--large {
  background-color: #81b3d2;
  padding: 40px 25px 40px 25px;
  color: #fff;
}

.list__item--second {
  background-color: #fff;
  padding: 40px 40px 40px 70px;

}

.list__title {
  font-size: @font-large;
  text-align: center;
}

.list__title--second {
  text-align: left;
}

.list__number {
  margin-left: 100px;
}

.list__text {
  font-size: @font-middle;
  line-height: @line-small;
  text-align: center;
}

.list__text--second {
  text-align: left;
}
