.main-list {
  background-color: #81b3d2;
}

.list {
  position: relative;
  margin: 0;
  padding: 0;
}

.list__item {
  background-color: #cfd6d9;
  margin: 0;
  padding: 33px 40px;
  list-style: none;
}

.list__img {
  width: 100%;
}


.list__item--large {
  padding: 0;
  background-color: #81b3d2;
  color: #ffffff;
}

.list__item--second {
  background-color: #ffffff;
  padding: 20px 40px 20px 70px;
  box-sizing: border-box;
}

.list__icon {
  position: absolute;
  left: 22px;
}

.list__wrap {
  margin-bottom: 30px;
  padding: 40px 25px 40px 25px;
}

.list__title {
  font-size: @font-large;
  text-align: center;
}

.list__title--second {
  text-align: left;
}

.list__number {
  margin-left: 40%;
}

.list__text {
  font-size: @font-middle;
  line-height: @line-small;
  text-align: center;
}

.list__text--second {
  text-align: left;
}

.list__item--small {
  border-bottom: 1px solid #6c7a86;
}

@media (min-width: @tablet) {
  .list {
    display: flex;
    flex-wrap: wrap;
  }

  .list__item {
    width: 100%;
  }

  .list__title {
    margin-top: 0;
    text-align: center;
  }

  .list__text {
    text-align: center;
  }

  .list__title--second {
    text-align: center;
  }

  .list__text--second {
    text-align: center;
    margin: 0;
  }

  .list__item--large {
    display: flex;
    width: 100%;
    height: 256px;
  }

  // .list__item--large:last-child {
  //     flex-direction: row-reverse;
  //   }

  .list__item--small {
    width: 33.333333%;
    box-sizing: border-box;
  }

  .list__wrap {
    padding: 40px;
    margin: 0;
    width: 33.333333%;
  }

  .list__img {
    flex-grow: 1;

    img {
      width: 100%;
    }
  }

  .list__item--second {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    width: 33.333333%;
    box-sizing: border-box;
    padding: 150px 40px 65px 50px;

    text-align: center;
  }

  .list__icon {
    left: 35%;
    top: 60px;
    width: 75px;
    height: 75px;
  }
}

@media (min-width: @desktop) {
  .list__item--second {
    justify-content: space-between;
    // padding: 60px 20px 85px 70px;
  }

  .list__icon {
    left: 40%;
  }

  .list__item--small {
    padding: 50px 58px 70px 55px;
  }
}
