.main-list {
  background-color: #81b3d2;
}

.list {
  margin: 0;
  padding: 0;
}

.list__item {
  background-color: #cfd6d9;
  margin: 0;
  padding: 33px 40px;
  list-style: none;
}

.list__img {
  width: 100%;
}


.list__item--large {
  padding:0;
  background-color: #81b3d2;
  color: #ffffff;
}

.list__item--second {
  background-color: #ffffff;
  padding: 40px 40px 40px 70px;
}

.list__wrap {
  margin-bottom: 30px;
  padding: 40px 25px 40px 25px;
}

.list__title {
  font-size: @font-large;
  text-align: center;
}

.list__title--second {
  text-align: left;
}

.list__number {
  margin-left: 100px;
}

.list__text {
  font-size: @font-middle;
  line-height: @line-small;
  text-align: center;
}

.list__text--second {
  text-align: left;
}

@media (min-width: @tablet) {
  .list__item--large {
    display: flex;
    flex-grow: 0;
    margin: 0;
  }

  .list__wrap {
      padding: 47px;
      margin: 0;
    }

  .list__title {
    font-size: 21px;
    line-height: 26px;
  }

  .list__item--second {
    display: flex;
    width: 25%;
  }

  // .list__img {
  //   display: flex;
  //   flex-grow: 2;
  // }
}
