// colors

@font-large: 18px;

.main-menu {
  background-color: #ffffff;
}

.menu {
  background-color: #81b3d2;
}

.menu-item {
  color: #ffffff;
  list-style: none;
  font-size: @font-large;
  font-weight: bold;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}
